/*内容*/
/*设置内容各板块间的间距*/
.container{
  margin-top: 100px;
}
.container .row{
  margin-bottom: 50px;
}
.container-pic{
 height: 300px;
 text-align: center;
 overflow: hidden;/*让图片在上移的时候，超出部分会隐藏以实现图片上移但透明度不变*/
}
.container-pic-show{
  position: absolute;
  margin: 0 auto;
}
.container-pic-hidden{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(0,0,0,.5);
}
.container-pic-hidden{
  position: absolute;
  -webkit-transition:all .2s ease-in;
  -moz-transition:all .2s ease-in;
  -ms-transition:all .2s ease-in;
  -o-transition:all .2s ease-in;
  transition:all .2s ease-in;

   -webkit-transform:translateY(300px);
  -moz-transform:translateY(300px);
  -ms-transform:translateY(300px);
  -o-transform:translateY(300px);
  transform:translateY(300px);
}
.container-pic:hover .container-pic-hidden{
   -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
}
.container-pic-hidden p{
  color: #fff;
  font-size: 34px;
  line-height: 300px;
  letter-spacing: 5px;
}
/*图片旁的文字介绍*/
.container-w-b{
  height: 300px;
  text-align: center;
}
.container-w-b span{
  font-size: 35px;
  color: #005494;
}
.container-w-b p{
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  letter-spacing: 3px;
  text-indent: 2em;   /*实现段落首行缩进两个字符*/
}
.container-w-b .btn {
  background:#39A8A9;
  color: #fff;
  font-size: 16px;
  width: 150px;
}
/*设置内容的图片和文字适应屏幕宽度，不往下掉*/
@media (max-width: 768px){
  .row{
    width: 750px;
  }
  .container-pic{
    float: left;
    width: 320px;
  }
  .container-w-b{
    float: left;
    width: 430px;
  }
}
.container .more{
  width: 250px;
  text-align: center;
   margin:0 auto;
}
/*"更多"按钮样式的设置*/
.btn-more{
  padding: 10px 40px;
}