body{
  font-family: microsoft yahei !important
  ;
  background-color: #fff !important;
}
/*导航栏*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 0;
}
.navbar{
  position: absolute;
  width: 100%;
  z-index: 10;
}
.navbar-brand span.ifox{
  font-size: 25px;
  padding-left: 20px;
  font-family: Verdana;
  color: #ccc;
}
.navbar-brand span.studio{
  padding-left: 10px;
  font-size: 15px;
  letter-spacing: 3px;
  color: #ccc;
}
.navbar-nav {
  float: right;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a ,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus{
  color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus{
  color: #fff;
}
/*第一个section*/
section.section-icon{
  height: 300px;
  margin-top: 60px;
}
.section-icon .icon-threebox{
  height: auto;
  text-align: center;  
}
.icon-threebox .iconthreebox-words{
  padding-top: 30px;
  font-size: 25px;
  color: #6bb9f0;
  letter-spacing: 5px;
}
/*第二个section*/
section.section-content{
  height: auto;
}
.section-content .row{
  margin-top: 100px;
}
.section-content .section-content-img{
  text-align: center;
}
.section-content-img img{
  border-radius: 20px;
}
.section-content-words{
  padding: 30px;
}
.section-content-words .words-title{
  font-size: 28px;
  color: #95a5a6;
}
.section-content-words .words-p{
  font-size: 18px;
  color: #95a5a6;
  letter-spacing: 4px;
}
/*footer*/
footer{
  width: 100%;
  height:350px;
  background-image: url(../images/index/section-2.png) ;
  margin-top: 80px;
}
footer .content-contactus{
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 30px;
}
.content-contactus p{
  font-family: microsoft yahei;
  font-size: 25px;
  color: #fff;
  letter-spacing: 6px;
  font-weight: 600;
  line-height: 40px;
}
.content-three .threebox{
  margin-top: 40px;
  width: 33%;
  height: 180px;
  float: left;
}
.threebox .threebox-img{
  width: 100%;
  height: 140px;
  text-align: center;
}
.threebox .threebox-img img{
  width: 130px;
  height: 130px;
}
@media (max-width:768px) {
  .threebox .threebox-img{
    height: 120px;
  }
  .threebox .threebox-img img{
  width: 100px;
  height: 100px;
  }
}
.threebox .threebox-words{
  color: #fff;
  font-size: 16px;
  font-family:microsoft yahei ;
  text-align: center;
}
.content-footnote,.content-casenumber{
  text-align: center;
  color: #ccc;
  font-family: KaiTi ;
}