body{
  font-family: microsoft yahei !important
  ;
  background-color: #fff !important;
  font-size: 16px;
}
/*导航栏*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 0;
}
.navbar{
  position: absolute;
  width: 100%;
  z-index: 10;
}
.navbar-brand span.ifox{
  font-size: 25px;
  padding-left: 20px;
  font-family: Verdana;
  color: #ccc;
}
.navbar-brand span.studio{
  padding-left: 10px;
  font-size: 15px;
  letter-spacing: 3px;
  color: #ccc;
}
.navbar-nav {
  float: right;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a ,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus{
  color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus{
  color: #fff;
}
.slider-wrapper .slider-words{
  position: absolute;
  top:40%;
  left: 10%;
  z-index: 10;
}
.slider-wrapper .slider-words p.title{
  color: #fff;
  font-size: 2.5vw;
  letter-spacing: 3px;
}
.slider-wrapper .slider-words p.slider-p{
  color: #fff;
  font-size: 1.2vw;
  letter-spacing: 2px;
  text-indent: 2em;
}
@media (max-width: 768px) {
  .slider-wrapper .nivoSlider{
    width: 750px;
    height: auto;
  }
  .slider-wrapper .slider-words p.title{
    font-size: 18px;
  }
  .slider-wrapper .slider-words p.slider-p{
    font-size: 14px;
  }
}
/*为首页图片上的文字写动画效果*/
.animated{
  animation-duration:1s;
  -webkit-animation-duration:1s;
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both;
}
.fadeIn{
  animation-name:fadeIn;
  -webkit-animation-name:fadeIn;
}
.fadeUp{
  animation-name:fadeUp;
  -webkit-animation-name:fadeUp;
}
@keyframes fadeIn{
  0%{ opacity: 0;
    -webkit-transform: translate(0, 200px);
    transform: translate(0, 200px);
  }
  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeUp{
  0%{ opacity: 0;
    -webkit-transform: translate(0, -200px);
    transform: translate(0, -200px);
  }
  100%{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.delay_1{
  animation-delay:1s;
  -webkit-animation-delay:1s;
}
.delay_2{
  animation-delay:2s;
  -webkit-animation-delay:2s;
}

/*第一个section*/
section.section-icon{
  margin-top: 60px;
}
.section-icon .icon-threebox{
  height: auto;
  text-align: center;  
}
.icon-threebox .iconthreebox-words{
  padding-top: 30px;
  font-size: 25px;
  color: #95a5a6;
  letter-spacing: 5px;
}
/*第二个section*/
section.section-content{
  width: 100%;
  height: auto;
}
section.section-content .section-WeChat{
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
section.section-content .section-WebsitePlan,
section.section-content .section-WebsiteDesign{
  text-align: center;
  margin-top: 70px;
}
@media (max-width:768px) {
  section.section-content .section-WeChat,
  section.section-content .section-WebsitePlan,
  section.section-content .section-WebsiteDesign{
    width: 750px;
    height: auto;
  }

}
/*footer*/
footer{
  width: 100%;
  height:350px;
  text-align: center;
  background-color: #34383B;
  margin-top: 60px;
}
footer .content-contactus{
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 30px;
}
.content-contactus p{
  font-family: microsoft yahei;
  font-size: 25px;
  color: #95a5a6;
}
.content-three .threebox{
  margin-top: 20px;
  width: 33%;
  height: 180px;
  float: left;
}
.threebox .threebox-img{
  width: 100%;
  height: 140px;
  text-align: center;
}
.threebox .threebox-img img{
  width: 130px;
  height: 130px;
}

.threebox .threebox-words{
  color: #fff;
  font-size: 16px;
  font-family:microsoft yahei;
  text-align: center;
}
.content-footnote,.content-casenumber{
  text-align: center;
  color: #ccc;
  font-family: KaiTi ;
}
/*footer自适应*/
@media (max-width:768px) {
  footer{
    width: 750px;
    height: auto;
  }
  .threebox .threebox-img{
    height: 120px;
  }
  .threebox .threebox-img img{
  width: 100px;
  height: 100px;
  }
}