/*公共部分*/
body{
	font-family: microsoft yahei;
}
/*加入我们主体*/
.text-top{margin:0 auto;
	margin-top: 30px;
	width: 180px;
	height: 60px;
	font-size: 26px;
	text-align: center;
	line-height:60px; 
	color: white;
	background-color: #39a8a9;
	border-radius: 90px 90px 90px 90px;
	margin-bottom: 30px;
}
.text1{
	font-size: 22px;
	margin:10px 0px;
	text-align: center;
}
.text2{
	margin: 20px 0px;
	text-align: center;
	font-size: 18px;
	letter-spacing:3px;
}
/*职位分块*/
.box1{
	overflow: hidden;
	width: 30%;
	height: 400px;
	margin:3% 5% 3% 0px;
	float: left;
	border-radius: 10px;
}
.
.box2{
	overflow: hidden;
	float: left;
	margin:3% 5% 3% 0px;
	width: 30%;
	height: 400px;
	border-radius: 10px;
}
.box3{
	overflow: hidden;
	float: left;
	margin:3% 0px;
	width: 30%;
	height: 400px;
	border-radius: 10px;
}
.box4{
	overflow: hidden;
	width: 30%;
	height: 400px;
	margin:3% 5% 3% 0px;
	float: left;
	border-radius: 10px;
}
.box5{
	overflow: hidden;
	float: left;
	margin:3% 5% 3% 0px;
	width: 30%;
	height: 400px;
	border-radius: 10px;
}
.box6{
	overflow: hidden;
	float: left;
	margin:3% 0px;
	width: 30%;
	height: 400px;
	border-radius: 10px;
}
