/*css reset*/
	body,div{
		margin: 0;
		padding: 0;
	}
	/*导航栏*/
body{
  font-family: microsoft yahei;
}
/*导航栏*/
.navbar-default {
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 0;
}
.navbar{
  position: absolute;
  width: 100%;
  z-index: 10;
}
.navbar-brand span.ifox{
  font-size: 25px;
  padding-left: 20px;
  font-family: Verdana;
  color: #ccc;
}
.navbar-brand span.studio{
  padding-left: 10px;
  font-size: 15px;
  letter-spacing: 3px;
  color: #ccc;
}
.navbar-nav {
  float: right;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a ,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus{
  color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus{
  color: #fff;
}
@media (min-width:1024px), (min-width:980px)and(max-width:1023px) {
  header .header-content img {
    width: 100%;
    height: 100%;
  }
  nav{
    width: 100%;
  }
}
@media (max-width: 979px) {
  header .header-content img {
    width: 980px;
    height: auto;
  }
  header .header-content > div {
    width: 650px;
    left: 0;
  }
  nav{
    width: 980px;
  }
}
  .container .img-pc-show img {
  	width: 980px;
  	height: auto;
  }
}
header .header-content {
  position: relative;
  /*图片要设置为相对定位*/
}
header .header-content > div {
  position: absolute;
  /*使文字可以漂浮在图片之上*/
  left: 10%;
  top: 25%;
}
header .header-content > div span{
  font-size: 62px;
  color: #fff;
  letter-spacing: 10px;
}
header .header-content .header-word .title_one{
	margin-left: -100px;
	margin-top: -25px;
	font-size: 35px;
	letter-spacing: 10px;
}
header .header-content .header-word .title_two{
	margin-left: 400px;
	margin-top: 30px;
	font-size: 35px;
	letter-spacing: 10px;
	color: rgb(255,255,255);
}
header .header-content .header-word span{
	display: block;
	margin-left: -20px;
}
header .header-content .header-word{
  width: 800px;
  color: #fff;
  letter-spacing: 4px;
}

	/*页面主体*/
	.container{
		margin-top: 100px;
		width:100%;
		/*outline:black solid 2px;*/
	}
	.container .img-pc-show{
		width: 100%;
		text-align: center;
	}
	.container .img-app-show{
		text-align: center;
	}
	/*项目名称*/
	.container > p{
		color: rgb(52,195,124);
		font-size:25px;
		margin-top: 10px;
		margin-left: 150px;
		/*outline:blue solid 1px;*/
	}
	.container-word{
		width: 100%;
		text-align: center;
		margin: 50px 0;
	}
	.container > img{
		margin-top: -10px;
		margin-left: 105px;
	}
	.container > .row > .col-lg-3 > .website{
		margin-left: 105px;
		margin-top: 20px;
		color:rgb(52,195,124);
		font-size: 16px;
		/*outline:red solid 2px;*/
	}
	.container > .row > .col-lg-3 > .website > a{
		text-decoration: none;
		color:rgb(52,195,124);
	}
	.container > .row > .col-lg-3 > .website > a:hover{
		text-shadow:1px 1px 2px #29a567;
	}
	/*项目图片展示部分*/
	.container > .row > .col-lg-12{
		width: 100%;
		margin-top: 30px;
		margin-left: 0px;
		/*outline: green solid 2px;*/
	}
	.img_display{
		margin-left: 250px;
	}
	.img_a,.img_b,.img_c,.img_d{
		max-width: 100%;
		height: auto;
	}
	.img_b{
		margin-top: 20px;
	}
	.img_c,.img_d{
		margin-top: 20px;	
	}
	/*最下方“返回按钮”所在div的样式*/
	.return{
		width:100%;
		height:100px;
		display:block;
		text-align:center;
	}
	/*“返回按钮”的样式*/
	.return_button{
		width:250px;
		height:50px;
		margin-top: 10px;
		background-color: #3686BF;
		color: #fff;
		border:3px solid rgb(54,134,191);
		border-radius: 4px;
		box-shadow: 1px 1px 1px #29a567;
	}
	.return a{
		text-decoration: none;
	}
/*脚部*/
footer{
  width: 100%;
  height:350px;
  text-align: center;
  background-color: #34383B;
  margin-top: 80px;
}
footer .content-contactus{
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 30px;
}
.content-contactus p{
  font-family: microsoft yahei;
  font-size: 25px;
  color: #95a5a6;
}
.content-three .threebox{
  margin-top: 20px;
  width: 33%;
  height: 180px;
  float: left;
}
.threebox .threebox-img{
  width: 100%;
  height: 140px;
  text-align: center;
}
.threebox .threebox-img img{
  width: 130px;
  height: 130px;
}

.threebox .threebox-words{
  color: #fff;
  font-size: 16px;
  font-family:microsoft yahei;
  text-align: center;
}
.content-footnote,.content-casenumber{
  text-align: center;
  color: #ccc;
  font-family: KaiTi ;
}
@media (max-width: 979px){
  footer,.footer-content{
    width: 980px;
  }
}